@*@model NewsAggregator.Core.DataTransferObjects.CommentDto*@
@model Entities.DataTransferObject.CommentDto

<div class="card col-sm-12">
    <div class="card-body">

        <p class="card-text">@Model.Text</p>
        <h6>
            <label>Пользователь:</label> @Model.User.Login
        </h6>
        <h6>
            <label>Дата:</label> @Model.CreateDate.ToString("g")
        </h6>
    </div>

</div>
