@model NewsAggregatorMain.Models.ViewModel.NewsVM.CreateNewsViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>AggregateNews</h1>

<h4>Are you sure you want to agregate News? It can take some time</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Aggregate" onclick="return confirm('Are you sure?')"> 
            <input type="submit" value="Submit" class="btn btn-danger" /> |
            <a asp-action="Index">Cancel</a>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
