@using NewsAggregatorMain.HtmlHelpers
@model NewsAggregatorMain.Models.ViewModel.NewsVM.NewsListWithPaginationInfo

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Aggregate">Create News</a>
</p>


<div class="row" >

    @foreach (var item in Model.News)
    {
        await Html.RenderPartialAsync("ShortNewsPreview", item);
    }

</div>

<div class="btn-group">
    @Html.CreatePagination(Model.PageInfo, i =>
Url.Action("Index", new { page = i, sourseId = Model.News.FirstOrDefault().Id @*. ?.RssSourseId *@}))

</div>


@* <pagination page-model="Model.PageInfo" page-action="Index"></pagination>*@

