@using NewsAggregatorMain.HtmlHelpers
@model NewsAggregatorMain.Models.ViewModel.NewsVM.NewsListWithPaginationInfo

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<tbody>
    @foreach (var item in Model.News)
    {
        // @Html.RenderPartialAsync("ShortNewsPreview", item)
        await Html.RenderPartialAsync("ShortNewsPreview", item);

        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
        <hr/>
    }

</tbody>
<div class="btn-group">
    @Html.CreatePagination(Model.PageInfo, i => 
Url.Action("Index", new { page = i, sourseId = Model.News.FirstOrDefault().Id @*. ?.RssSourseId *@}))
</div>

<pagination page-model="Model.PageInfo" page-action="Index"></pagination>