@{
    ViewData["Title"] = "Home Page";
}





<div class="text-center">
    <h1 class="display-4">Welcome to news agregator</h1>

    <img src="MainLogo.jpg" alt="Центрируем изображение" class="center-img" />
    
</div>

@*<script src="~/js/Lessons/WorkWithDom.js"></script>*@


@*<script src="~/js/comments.js"></script>*@