@model Entities.DataTransferObject.LoginDto

<h2>Autorisation</h2>

<form asp-action="Login" asp-controller="Account" asp-antiforgery="true" method="post">
    @* antiforgeryбудет - сгенерирован токе который потом на BE будет валидироватся. т.е. теперь с консоли какой-нибудь невозможно будет сгенерит 100000 запросо.*@
    <div>
        <div class="form-group">
            <input type="hidden" asp-for="ReturnUrl" />
            <label asp-for="Login">Login</label>
            <input type="text" asp-for="Login" />
            <span asp-validation-for="Login"></span>
        </div>
    
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input type="password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
      
            <input type="submit" value="Enter" />
        </div>
   
</form>


